<form action=/create method='POST'>
<table align='center' class='table2'>
<tr><td>Enter names:</td><td><input type="text" name="bothnames" size=50/></td></tr>
<tr><td>Enter the address:</td><td><input type='text' name='address' size=50/></td></tr>
<tr><td>Date of birth:</td><td><input type='text' name='birthday' size=50 /></td></tr>
<tr><td>Phone number:</td><td><input type='text' name='phone' size=50 /></td></tr>
<tr><td>Email address:</td><td><input type='text' name='email' size=50 /></td></tr>
<tr><td>Profession:</td><td><input type='text' name='profession' size=50 /></td></tr>
<tr><td>Interests (,) separated:</td><td><input type='text' name='interests' size=50 /></td></tr>
<tr><td> </td><td><input type='submit' name='submit'/></td></tr>
<table>
</form>
