<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="/static/myScript.js"></script>
    </head>
    <body>
        <ul style="display:block; width:10%; margin-bottom:100%; float:left">
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/update">Update</a></li>
            <li><a href="/remove">Remove</a></li>
        </ul>
        <div>
            <form action="http://localhost:5000/update"  method="POST">
                <p>Search contact by name:</p>
                <p style="display: inline"><input type="text" name="search_name" /></p>
                <p style="display: inline"><input type="submit" name="button" value="Search" /></p>
                {% if is_found %}
                    <p>Your contact is: {{ found_data }}</p>
                {% else %}
                    <p>{{ found_data }}</p>
                {% endif %}

            </form>

            {% if is_found %}
                <form action="http://localhost:5000/update/{{ found_data }}"  method="POST">
                    <p>Enter Name:</p>
                    <p><input type = "text" name="name" /></p>

                    <p>Enter Address:</p>
                    <p><input type = "text" name="address" /></p>

                    <p>Enter Birthday:</p>
                    <p><input type = "text" name="birthday" /></p>

                    <p>Enter Phone number:</p>
                    <p><input type = "text" name="phone_number" /></p>

                    <p>Enter Email:</p>
                    <p><input type = "text" name="email" /></p>

                    <p>Enter Profession:</p>
                    <p><input type = "text" name="profession" /></p>

                    <p>Enter Interests:</p>
                    <p><input type = "text" name="interests" /></p>

                    <p style="display: inline"><input type="submit" name="button" value="Update" /></p>
                </form>
            {% endif %}
        </div>
    </body>
</html>